SECRET_KEY = "INSECURE_SECRET_KEY"

DATABASE = {
    "default": {
        "ENGINE": "django.db.backends.postgresql",
        "NAME": "store_api",
        "USER": "store_admin",
        "PASSWORD": "store_admin",
        "HOST": "postgres",
        "PORT": "5432",
    }
}

SIMPLE_JWT["SIGNING_KEY"] = "INSECURE_JWT_SECRET_KEY"
